header {
    background-color: black;
    color: #f8f1f1;
    padding: 40px;
    text-align: center;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    section {
        background-color: #968f8f;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
        clear: both;
    }
    